.well
  background: $white
  padding-bottom: 15px
  &-header
    font-size: 14px
    .fa
      color: $brand-success
      &-lg
        font-size: 1.33333333em
        line-height: 0.75em
        vertical-align: -15%
    .red
      color: red
  &-line
    border-top: 1px solid #d1d1d1
    margin: 6px 0 5px
  &-box
    padding: 5px 15px
  &-scroll
    &-container
      position: relative
      height: 580px
    &-item
      position: absolute
      height: 100%
      overflow-y: auto
      overflow-x: hidden
      .pagination
        margin-bottom: 0

.custinfo
  .tab-content
    padding-bottom: 0
  .well-scroll-container
    height: 555px
    &.full
      height: 610px
